In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./data/state.csv")

In [3]:
df.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [4]:
#population mean
df['Population'].mean()

6162876.3

In [6]:
#calculation the trimmed mean
from scipy.stats import trim_mean
trim_mean(df['Population'],0.1)

4783697.125

In [7]:
#calculation of median 
df['Population'].median()

4436369.5

In [12]:
#lets calculate the standard deviation
df['Population'].std()
df['Population'].quantile(0.75) - df['Population'].quantile(0.25)

4847308.0